body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

#editor, #preview {
  width: 50%;
  height: 90vh;
  overflow: auto;
  margin: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  font-size: 16px;
}
